*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  width: 100vw;
  min-height: 100vh;
  background: rgba(95, 95, 18, 0.623);

  display: grid;
  grid-template-columns: 1fr 4fr 2fr;
  grid-template-rows: 1fr;

}

.cardFiltro{
  /* height: 50%; */

  background: tomato;
}

.cardProdutos{
  /* height: 50%; */

  background: rgb(45, 197, 91);
}

.cardCarrinho{
  /* height: 50%; */

  background: rgb(58, 68, 214);
}