*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr 2fr;
  grid-template-rows: 1fr;

  background: #f5f5f5;
}

.cardFiltro{
  /* height: 50%; */
}

.cardProdutos{
  /* height: 50%; */
}

.cardCarrinho{
  /* height: 50%; */
}